<h1 >Exercício 1. Uso básico do switch</h1>

<input type="number" [(ngModel)]="mesNumero" min="1" max="12">
@switch (mesNumero){
    @case (1) { <p>Janeiro</p> }
    @case (2) { <p>Fevereiro</p> }
    @case (3) { <p>Março</p> }
    @case (4) { <p>Abril</p> }
    @case (5) { <p>Maio</p> }
    @case (6) { <p>Junho</p> }
    @case (7) { <p>Julho</p> }
    @case (8) { <p>Agosto</p> }
    @case (9) { <p>Setembro</p> }
    @case (10) { <p>Outubro</p> }
    @case (11) { <p>Novembro</p> }
    @case (12) { <p>Dezembro</p> }
    @default { <p>Mes inválido</p> }
}
