<h1 >Exercício 1. Uso básico do switch</h1>

<input type="number" [(ngModel)]="mesNumero" min="1" max="12">
<div [ngSwitch]="mesNumero">
    <p *ngSwitchCase="1">Janeiro</p>
    <p *ngSwitchCase="2">Fevereiro</p>
    <p *ngSwitchCase="3">Março</p>
    <p *ngSwitchCase="4">Abril</p>
    <p *ngSwitchCase="5">Maio</p>
    <p *ngSwitchCase="6">Junho</p>
    <p *ngSwitchCase="7">Julho</p>
    <p *ngSwitchCase="8">Agosto</p>
    <p *ngSwitchCase="9">Setembro</p>
    <p *ngSwitchCase="10">Outubro</p>
    <p *ngSwitchCase="11">Novembro</p>
    <p *ngSwitchCase="12">Dezembro</p>
    <p *ngSwitchDefault>Mês inválido</p>
  </div>

